.footer {
  background-color: $light;
  padding: 22px 0;

  p {
    font-size: 12px;
    margin: 0;

    a {
      text-decoration: none;
      
      &:hover {
        opacity: 0.7;
      }
    }
  }
}