.index {
  &-hero {
    position: relative;
    height: 100vh;
    max-height: 700px;
    background-image: url('../img/growthpal-index-hero.png');
    background-position: calc(50% + 500px) center;
    background-repeat: no-repeat;
    background-size: 900px;

    @media only screen and (max-width: 979px) {
      background-position: calc(50% + 300px) 100px;
      background-size: 700px;
    }

    @media only screen and (max-width: 767px) {
      background-image: url('../img/growthpal-index-hero-mobile.png');
      background-position: center 125%;
      background-size: 500px;
    }

    @media only screen and (max-width: 380px) {
      background-position: center 115%;
      background-size: 400px;
    }

    .container {
      position: relative;
      z-index: 1;
      height: 100%;
    }

    &__wrapper {
      max-width: 600px;
      padding-top: 180px;

      @media only screen and (max-width: 979px) {
        padding-top: 50px;
      }

      @media only screen and (max-width: 480px) {
        padding-top: 25px;
      }

      h1 {
        margin-top: 45px;
        margin-bottom: 0px;
      }

      form {
        margin: 0px -7px;

        input,
        button {
          margin: 7px;
        }
      }

      .subhead {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 30px;

        @media only screen and (max-width: 480px) {
          font-size: 1.1em;
        }
      }
    }
  }

  &-features {
    background-color: $blue;
    padding: 100px 0;

    * {
      color: $f;
    }

    .flex {
      margin: 50px -30px 0;

      @media only screen and (max-width: 979px) {
        margin: 50px -15px 0;
      }

      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }

      .flex-1 {
        margin: 0 30px;
        padding: 30px 20px;
        box-shadow: 0 3px 10px rgba(#000000, 0.25);

        @media only screen and (max-width: 979px) {
          margin: 0 15px
        }

        @media only screen and (max-width: 767px) {
          margin: 15px;
        }

        img {
          max-height: 70px;
        }

        h3 {
          margin-top: 20px;
        }

        li {
          margin: 0 0 10px 0;
          line-height: 1.5;
        }
      }
    }
  }
}
