<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Growthpal - Faster, More Accessible, and Personalised Funding And Acquisitions

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap")
    link(rel="stylesheet", href="assets/css/style.css")

    link(rel='apple-touch-icon', sizes='57x57', href='/assets/img/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/img/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/img/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/img/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/img/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/img/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/img/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/assets/img/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/img/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/img/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/assets/img/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // Search Engine
    meta(name='description', content='Intelligence Solutions that provide recommendations and deliver results for funding, acquisitions and investment, helping you close deals.')
    meta(name='image', content='assets/img/growthpal-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="Growthpal - Faster, More Accessible, and Personalised Funding And Acquisitions")
    meta(itemprop='description', content='Intelligence Solutions that provide recommendations and deliver results for funding, acquisitions and investment, helping you close deals.')
    meta(itemprop='image', content='assets/img/growthpal-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="Growthpal - Faster, More Accessible, and Personalised Funding And Acquisitions")
    meta(name='twitter:description', content='Intelligence Solutions that provide recommendations and deliver results for funding, acquisitions and investment, helping you close deals.')
    meta(name='twitter:site', content='')
    meta(name='twitter:creator', content='')
    meta(name='twitter:image:src', content='assets/img/growthpal-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='url', property='og:url', content='https://www.growthpal.com')
    meta(name='site_name', property='og:site_name', content='GrowthPal')
    meta(name='title', property='og:title', content="Growthpal - Faster, More Accessible, and Personalised Funding And Acquisitions")
    meta(name='type', property='og:type', content='website')
    meta(name='image', property='og:image', content='assets/img/growthpal-meta.jpg')
    meta(name='description', property='og:description', content='Intelligence Solutions that provide recommendations and deliver results for funding, acquisitions and investment, helping you close deals.')
  body

    main.index

      section.index-hero
        .container
          .index-hero__wrapper
            img(src="assets/img/growthpal-logo.png", alt="GrowthPal logo", width="150")
            p.italic Faster, Accessible, and Personalized Fundraising &amp; Acquisitions
            h1.uppercase Intelligence That Delivers Results.
            p.blue.subhead Actionable Recommendations. Closed Deals.
            .form-container
              form#contact-form(action='https://formspree.io/xnqnjedb', method='POST')
                input(type='email', name='_replyto', placeholder='Sign Up For Early Access', required)
                input#next-field(type="hidden", name="_next", value='')
                button.button(type='submit') Submit

      section.index-features
        .container
          h2.center INTELLIGENCE DRIVEN PLATFORM
            br
            | FOR INVESTING AND M&amp;A
          .flex
            .flex-1
              .center
                img(src="assets/img/enterprises.png", alt="Enterprises")
                h3.uppercase Enterprises
              ul
                li Mergers &amp; Acquisitions
                li Acqui-hiring
                li Startups Financial Data
            .flex-1
              .center
                img(src="assets/img/startups.png", alt="Startups")
                h3.uppercase Startups
              ul
                li Fundraise from Financial Investors and Strategic Corporates
                li Investment Advisory: Valuation, Funding Readiness
                li Peer Comparison Data
            .flex-1
              .center
                img(src="assets/img/financial-investors.png", alt="Financial Investors")
                h3.uppercase Financial Investors
              ul
                li Personalized Investment Sourcing
                li Startups Financial Data

    script.
      window.onload = function() {
        document.getElementById('next-field').value = window.location.href + '?submit=true';
      }

      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
        function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }

      if (getUrlVars()["submit"] === 'true') {
        var formContainer = document.getElementsByClassName('form-container')[0];
        var contactForm = document.getElementById('contact-form');
        var thankYouMessage = document.createElement('P');
        thankYouMessage.className = 'blue';
        thankYouMessage.style.fontWeight = '600';
        thankYouMessage.innerText = "Thank you for reaching out! We'll get back to you soon.";
        formContainer.innerHTML = '';
        formContainer.appendChild(thankYouMessage);
      }

