<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Growth Pal - Intelligent Tools, Delivering Result and Opening Infinite Possibilities.

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap")
    link(rel="stylesheet", href="assets/css/style.css")

    link(rel='apple-touch-icon', sizes='57x57', href='/assets/img/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/img/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/img/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/img/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/img/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/img/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/img/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/assets/img/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/img/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/img/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/assets/img/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // Search Engine
    meta(name='description', content='Intelligent Tools For Fundraising, Category Leadership, And Acquisitions.')
    meta(name='image', content='assets/img/growthpal-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="Growth Pal - Intelligent Tools, Delivering Result and Opening Infinite Possibilities.")
    meta(itemprop='description', content='Intelligent Tools For Fundraising, Category Leadership, And Acquisitions.')
    meta(itemprop='image', content='assets/img/growthpal-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="Growth Pal - Intelligent Tools, Delivering Result and Opening Infinite Possibilities.")
    meta(name='twitter:description', content='Intelligent Tools For Fundraising, Category Leadership, And Acquisitions.')
    meta(name='twitter:site', content='@dist_sys')
    meta(name='twitter:creator', content='@dist_sys')
    meta(name='twitter:image:src', content='assets/img/growthpal-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='url', property='og:url', content='https://dsconf.in')
    meta(name='site_name', property='og:site_name', content='DSConf 2020')
    meta(name='title', property='og:title', content="Growth Pal - Intelligent Tools, Delivering Result and Opening Infinite Possibilities.")
    meta(name='type', property='og:type', content='website')
    meta(name='image', property='og:image', content='assets/img/growthpal-meta.jpg')
    meta(name='description', property='og:description', content='Intelligent Tools For Fundraising, Category Leadership, And Acquisitions.')
  body

    main.index

      section.index-hero
        img.arrow-img(src="assets/img/growthpal-arrow-up.png", alt="growthpal arrow up")
        .container
          .index-hero__wrapper
            img(src="assets/img/growthpal-logo.png", alt="GrowthPal logo", width="150")
            h1.blue Infinite Possibilities.
              br
              | Intelligent Tools.
              br
              | Delivering Results.
            p.blue Faster and More Accessible Way to Fundraising, Category Leadership and Acquisitions.
            .form-container
              form#contact-form(action='https://formspree.io/xnqnjedb', method='POST')
                input(type='email', name='_replyto', placeholder='Sign Up For Early Access', required)
                input#next-field(type="hidden", name="_next", value='')
                button.button(type='submit') Submit
    
    script.
      window.onload = function() {
        document.getElementById('next-field').value = window.location.href + '?submit=true';
      }

      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
        function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }

      if (getUrlVars()["submit"] === 'true') {
        var formContainer = document.getElementsByClassName('form-container')[0];
        var contactForm = document.getElementById('contact-form');
        var thankYouMessage = document.createElement('P');
        thankYouMessage.className = 'blue';
        thankYouMessage.style.fontWeight = '600';
        thankYouMessage.innerText = "Thank you for reaching out! We'll get back to you soon.";
        formContainer.innerHTML = '';
        formContainer.appendChild(thankYouMessage);
      }

